<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moli.knowledge.server.mapper.KbDocumentMapper">

    <!-- 使用 kb_document 上的 ngram 全文索引 ftx_kb_document -->
    <select id="searchFullText" resultType="com.moli.knowledge.server.entity.KbDocument">
        SELECT *
        FROM kb_document
        WHERE is_delete = 0
        <if test="spaceId != null">
            AND space_id = #{spaceId}
        </if>
        <if test="spaceIds != null and spaceIds.size() &gt; 0">
            AND space_id IN
            <foreach collection="spaceIds" item="sid" open="(" separator="," close=")">
                #{sid}
            </foreach>
        </if>
        <if test="(categoryIds != null and categoryIds.size() &gt; 0) or (uncategorizedOnly != null and uncategorizedOnly)">
            AND (
            <choose>
                <when test="categoryIds != null and categoryIds.size() &gt; 0 and uncategorizedOnly != null and uncategorizedOnly">
                    category_id IN
                    <foreach collection="categoryIds" item="cid" open="(" separator="," close=")">
                        #{cid}
                    </foreach>
                    OR category_id IS NULL
                </when>
                <when test="uncategorizedOnly != null and uncategorizedOnly">
                    category_id IS NULL
                </when>
                <otherwise>
                    category_id IN
                    <foreach collection="categoryIds" item="cid" open="(" separator="," close=")">
                        #{cid}
                    </foreach>
                </otherwise>
            </choose>
            )
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="documentIds != null and documentIds.size() &gt; 0">
            AND id IN
            <foreach collection="documentIds" item="did" open="(" separator="," close=")">
                #{did}
            </foreach>
        </if>
        <if test="keyword != null and keyword != ''">
            AND MATCH(title, summary, content) AGAINST(#{keyword} IN NATURAL LANGUAGE MODE)
        </if>
        <if test="source != null and source != ''">
            AND source = #{source}
        </if>
        <if test="kbTypes != null and kbTypes.size() &gt; 0">
            AND kb_type IN
            <foreach collection="kbTypes" item="t" open="(" separator="," close=")">
                #{t}
            </foreach>
        </if>
        ORDER BY
        <if test="keyword != null and keyword != ''">
            MATCH(title, summary, content) AGAINST(#{keyword} IN NATURAL LANGUAGE MODE) DESC,
        </if>
        update_time DESC
    </select>

    <!-- Query(/kb/ask) 候选召回：ngram 相关度 top-N + 作用域过滤；替代全量内存扫描 -->
    <select id="searchAskCandidates" resultType="com.moli.knowledge.server.entity.KbDocument">
        SELECT *
        FROM kb_document
        WHERE is_delete = 0
        <if test="spaceIds != null and spaceIds.size() &gt; 0">
            AND space_id IN
            <foreach collection="spaceIds" item="sid" open="(" separator="," close=")">
                #{sid}
            </foreach>
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="includeTypes != null and includeTypes.size() &gt; 0">
            AND kb_type IN
            <foreach collection="includeTypes" item="t" open="(" separator="," close=")">
                #{t}
            </foreach>
        </if>
        <if test="excludeTypes != null and excludeTypes.size() &gt; 0">
            AND kb_type NOT IN
            <foreach collection="excludeTypes" item="t" open="(" separator="," close=")">
                #{t}
            </foreach>
        </if>
        <if test="keyword != null and keyword != ''">
            AND MATCH(title, summary, content) AGAINST(#{keyword} IN NATURAL LANGUAGE MODE)
        </if>
        ORDER BY
        MATCH(title, summary, content) AGAINST(#{keyword} IN NATURAL LANGUAGE MODE) DESC
        LIMIT #{limit}
    </select>

    <select id="countPublishedByKbType" resultType="com.moli.knowledge.server.dto.KbTypeCountRow">
        SELECT kb_type AS kbType, COUNT(*) AS cnt
        FROM kb_document
        WHERE is_delete = 0
          AND source = 'kb'
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="spaceId != null">
            AND space_id = #{spaceId}
        </if>
        <if test="spaceIds != null and spaceIds.size() &gt; 0">
            AND space_id IN
            <foreach collection="spaceIds" item="sid" open="(" separator="," close=")">
                #{sid}
            </foreach>
        </if>
        <if test="(categoryIds != null and categoryIds.size() &gt; 0) or (uncategorizedOnly != null and uncategorizedOnly)">
            AND (
            <choose>
                <when test="categoryIds != null and categoryIds.size() &gt; 0 and uncategorizedOnly != null and uncategorizedOnly">
                    category_id IN
                    <foreach collection="categoryIds" item="cid" open="(" separator="," close=")">
                        #{cid}
                    </foreach>
                    OR category_id IS NULL
                </when>
                <when test="uncategorizedOnly != null and uncategorizedOnly">
                    category_id IS NULL
                </when>
                <otherwise>
                    category_id IN
                    <foreach collection="categoryIds" item="cid" open="(" separator="," close=")">
                        #{cid}
                    </foreach>
                </otherwise>
            </choose>
            )
        </if>
        GROUP BY kb_type
    </select>

</mapper>
